<!-- Setting navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top adm-navStyle adm-borderNew" role="navigation">
    <!--Setting sidebar -->
    <ul class="nav navbar-nav adm-side-nav">
        <li class="adm-ProfileUserImgMargin"><img src="app/modules/admin/img/1.jpg"  class="img-responsive"/></li>
        <li><a href="#/admin/users"></i><i class="fa fa-users"></i>  Users</a> </li>
        <li><a href="#/admin/shops"><i class="fa fa-shopping-cart"></i>  Shops</a></li>
        <li><a href="#/admin/statistics"><i class="fa fa-bar-chart"></i>  Statistics</a></li>
        <!-- end sidebar -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle adm-DDUserMenuSessionMenuMarginRight" data-toggle="dropdown" role="button" aria-expanded="false"> <i class="fa fa-cog"></i> Zarin_Andrii <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Log Out</a></li>
                <li><a href="#">Profile</a></li>
                <li class="divider"></li>
            </ul>
            </div>
</nav>
<div class="col-md-2">
</div>
<div class="col-md-10">
    <script>
        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'areaspline'
                },
                title: {
                    text: 'Average fruit consumption during one week'
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 150,
                    y: 100,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                xAxis: {
                    categories: [
                        'Monday',
                        'Tuesday',
                        'Wednesday',
                        'Thursday',
                        'Friday',
                        'Saturday',
                        'Sunday'
                    ],
                    plotBands: [{ // visualize the weekend
                        from: 4.5,
                        to: 6.5,
                        color: 'rgba(68, 170, 213, .2)'
                    }]
                },
                yAxis: {
                    title: {
                        text: 'Fruit units'
                    }
                },
                tooltip: {
                    shared: true,
                    valueSuffix: ' units'
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    areaspline: {
                        fillOpacity: 0.5
                    }
                },
                series: [{
                    name: 'John',
                    data: [3, 4, 3, 5, 4, 10, 12]
                }, {
                    name: 'Jane',
                    data: [1, 3, 4, 3, 3, 5, 4]
                }]
            });
        });
    </script>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>
// <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    //  <script type="text/javascript" src="../js/zarin-adm-controllers.js"></script> -->
    